.rc-navbar {
  border-radius: 0;
  border: 0;
  padding: 15px 0;
}

.uk-grid > * {
  //padding-left: 15px;
}

.rc-content {
  padding: 10px 0;
  &-lean {
    padding: 0;
  }
  &-lean-bottom {
    padding-bottom: 10px;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}
.rc-block {

}
.rc-container {
  margin: 20px 0;
}

ul.tags {
  margin-top: 5px;
  padding-left: 5px;
  li {
    margin: 5px 0;
    .uk-form-row {
      width: 140px;
    }
    label {
      display: none;
    }
    span {
      font-size: 15px;
      position: relative;
      top: 3px;
      float: left;
      color: #000;
    }
    div, a {
      display: inline-block;
    }
  }
}
.uk-block-muted {
  padding: 15px 0;
}