.rc-navbar {
  border-radius: 0;
  border: 0;
  padding: 15px 0;
}

.uk-grid > * {
  //padding-left: 15px;
}

.rc-content {
  padding: 10px 0;
  &-lean {
    padding: 0;
  }
  &-lean-bottom {
    padding-bottom: 10px;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}
.rc-block {

}
.rc-container {
  margin: 20px 0;
}

ul.tags {
  margin-top: 5px;
  padding-left: 5px;
  li {
    margin: 5px 0;
    .uk-form-row {
      width: 140px;
    }
    label {
      display: none;
    }
    span {
      font-size: 15px;
      position: relative;
      top: 3px;
      float: left;
      color: #000;
    }
    div, a {
      display: inline-block;
    }
  }
}
.uk-block-muted {
  padding: 15px 0;
}

.dataTables_wrapper {
  padding-top: 15px;
  padding-bottom: 40px;
  .row.uk-grid.dt-merge-grid {
    margin-top: 10px;
  }
}

.rc-auth {
  background: #f7f7f7;
}

.rc-app-header {
  background: #f7f7f7;
  border-bottom: 1px solid #e6e6e6;
}

.rc-app-content {
  padding-top: 20px;
}

.logo_container_main {
  text-align: left;

  .main_logo {
    width: 150px;
    height: auto;
    padding: 10px;
  }
}

.rc-user-navigation {
  padding: 14px 20px;
  text-align: right;
  a {
    color: #868686;
    margin-right: 10px;
    &:last-of-type {
      margin-right: 0;
    }
    &:hover {
      text-decoration: none;
      color: #444;
    }
  }
}