<nav class="uk-navbar">
  <ul class="uk-navbar-nav">
    <li><a href="{{ path('contact_index') }}">Back</a></li>
    <li><a href="{{ path('contact_edit', { 'id': contact.id }) }}">Edit</a></li>
  </ul>
</nav>