{#<li><a href="{{ path('contact_edit', { 'id': contact.id }) }}">Edit</a></li>#}
<ul class="uk-nav uk-nav-side uk-nav-parent-icon">
  <li class="uk-parent uk-open">
    <a class="uk-active">Contacts</a>
    <ul class="uk-nav-sub">
      <li><a href="{{ path('contact_index') }}">Contacts list</a></li>
      <li><a href="{{ path('contact_new') }}">Create Contact</a></li>
    </ul>
  </li>
</ul>
<script src="{{ asset("vendor/uikit/js/core/nav.js") }}"></script>