{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form '@BetterGists/uikit/fields.html.twig' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password uk-form">
    {{ form_widget(form) }}
    <div class="rc-submit-container">
        <input type="submit" class="uk-button uk-button-large rc-button-primary" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
