.uk-form-width-medium {
  width: 400px;
}
input#gist_title {
  width: 100%;
}
.remove-tag {
  position: relative;
  z-index: 1;
  left: 22px;
}
.rc-button-active {
  background: #dadada;
}
.login-form {
  width: 350px;
  margin: 0 auto 50px;
  background: #fff;
  border: 1px solid #dadada;
  padding: 20px;
  //box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.12);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    //box-shadow: 0 3px 8px rgba(0,0,0,0.25), 0 3px 9px rgba(0,0,0,0.22);
  }

  input[type="submit"] {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border: 0;
    padding: 6px 12px;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
      background-color: #285c8a;
    }
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
.uk-form {
  > .uk-form-row {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
.rc-align-center {
  text-align: center;
  margin: 1em 0;
}
.rc-button-green {
  background-color: #67e4c4;
  &:hover {
    background-color: #62debe;
  }
}
.rc-button-pink {
  background-color: #f77777;
  &:hover {
    background-color: #e07575;
  }
}
.rc-button-success {
  background-color: #70e69f;
  &:hover {
    background-color: #069000;
  }
}
input.rc-button-primary {
  background-color: #00a8e6;
  color: #fff;
  &:hover {
    background-color: #0571bf;
    color: #fff;
  }
}
