{% extends 'base-uikit-no-sidebar.html.twig' %}

{% block body %}
    <h1 class="page-title">Gist tagged with: <b>{{ tag.name }}</b></h1>
    <div class="rc-content">
        <ul class="uk-list">
            {% for gist in gists %}
                <li><a href="{{ path('gist_show', { 'id': gist.id}) }}">{{ gist.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
