{% extends '@BetterGists/base-uikit-no-sidebar.html.twig' %}
{% block title %}Delete Gist{% endblock %}
{% block body %}
  <h1 class="page-title">Delete Gist</h1>
  <div class="uk-block uk-block-muted">
    <div class="uk-container">
      <p>Are you sure you want to delete: <strong>{{ gist.title }}</strong></p>
      <ul class="uk-flex uk-list">
        <li style="margin-right: 10px">
          <a class="uk-button" href="{{ path('gist_edit', { 'id': gist.id }) }}"><span class="uk-icon-close"></span> Cancel</a>
        </li>
        <li>
          {{ form_start(delete_form) }}
          <input class="uk-button uk-button-danger" type="submit" value="Delete">
          {{ form_end(delete_form) }}
        </li>
      </ul>
    </div>
  </div>
{% endblock %}