{% extends 'base-uikit-no-sidebar.html.twig' %}

{% block title %}
    {% if gist.title is not null %}
        Edit: {{ gist.title }}
    {% else %}
        New Gist
    {% endif %}
{% endblock %}

{% block body %}
    <h1 class="page-title">Gist</h1>
    <script type="text/javascript">
        BG = {
            jwt: "{{ jwt }}"
        };
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
