{% extends '@BetterGists/base-uikit.html.twig' %}

{% block title %} Welcome to bettergist.io {% endblock %}

{% block content %}

  <div class="logo_container">
    <img src="{{ asset('images/opengist.svg') }}" class="main_logo"/>
  </div>

  {% block fos_user_content %}{% endblock %}
{% endblock %}