h1 {
  &.page-title {
    margin: 15px 0;
    line-height: 1em;
    font-size: 28px;
    font-weight: 500;
  }
}
label {
  font-weight: 600;
}
pre {
  background: #ffffff;
}

body {
  font-family: 'Nunito', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}
