.rc-navbar {
  border-radius: 0;
  border: 0;
  padding: 15px 0;
}

.uk-grid > * {
  //padding-left: 15px;
}

.rc-content {
  padding: 10px 0;
}
.rc-block {
  padding-top: 40px;
}
.rc-container {
  margin: 20px 0;
}

.tags {
  li {
    label {
      display: none;
    }
    span {
      float: left;
    }
    div, a {
      display: inline-block;
    }
  }
}