{% extends 'base-uikit.html.twig' %}

{% form_theme form 'uikit/fields.html.twig' %}

{% block pagetitle %}New contact{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {#<div class="uk-form">#}
        {#<input class="datepicker" type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}">#}
    {#</div>#}
{% endblock %}
