.rc-navbar {
  border-radius: 0;
  border: 0;
  padding: 15px 0; }

.rc-content {
  padding: 10px 0; }
  .rc-content-lean {
    padding: 0; }
  .rc-content-lean-bottom {
    padding-bottom: 10px; }
  .rc-content-left {
    text-align: left; }
  .rc-content-right {
    text-align: right; }

.rc-container {
  margin: 20px 0; }

ul.tags {
  margin-top: 5px;
  padding-left: 5px; }
  ul.tags li {
    margin: 5px 0; }
    ul.tags li .uk-form-row {
      width: 140px; }
    ul.tags li label {
      display: none; }
    ul.tags li span {
      font-size: 15px;
      position: relative;
      top: 3px;
      float: left;
      color: #000; }
    ul.tags li div, ul.tags li a {
      display: inline-block; }

.uk-block-muted {
  padding: 15px 0; }

.dataTables_wrapper .row.uk-grid.dt-merge-grid {
  margin-top: 10px; }

.rc-auth {
  background: #f7f7f7; }

h1.page-title {
  margin: 15px 0;
  line-height: 1em;
  font-size: 28px;
  font-weight: 500; }

label {
  font-weight: 600; }

pre {
  background: #ffffff; }

pre.sf-dump samp {
  white-space: pre !important;
  background: none;
  border: none; }

.uk-form-width-medium {
  width: 400px; }

input#gist_title {
  width: 100%; }

.remove-tag {
  position: relative;
  z-index: 1;
  left: 22px; }

.rc-button-active {
  background: #dadada; }

.login-form {
  width: 350px;
  margin: 0 auto 50px;
  background: #fff;
  border: 1px solid #dadada;
  padding: 20px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .login-form input[type="submit"] {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border: 0;
    padding: 6px 12px;
    border-radius: 2px;
    cursor: pointer; }
    .login-form input[type="submit"]:hover {
      background-color: #285c8a; }
  .login-form input[type="text"],
  .login-form input[type="email"],
  .login-form input[type="password"] {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px; }

.uk-form > .uk-form-row:last-of-type {
  margin-bottom: 0; }

.rc-align-center {
  text-align: center;
  margin: 1em 0; }

.rc-button-green {
  background-color: #67e4c4; }
  .rc-button-green:hover {
    background-color: #62debe; }

.rc-button-pink {
  background-color: #f77777; }
  .rc-button-pink:hover {
    background-color: #e07575; }

.rc-button-success {
  background-color: #70e69f; }
  .rc-button-success:hover {
    background-color: #069000; }

input.rc-button-primary {
  background-color: #00a8e6;
  color: #fff; }
  input.rc-button-primary:hover {
    background-color: #0571bf;
    color: #fff; }

.forgot-container {
  text-align: center;
  padding: 15px 10px; }

#fos_user_resetting_form {
  margin-bottom: 25px; }

.logo_container {
  text-align: center;
  padding: 40px; }
  .logo_container .main_logo {
    width: 250px;
    height: auto; }

.logo_container_main {
  background: #f7f7f7;
  text-align: left;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e6e6e6; }
  .logo_container_main .main_logo {
    width: 150px;
    height: auto;
    padding-top: 5px; }
